      <!-- Artifact Card for Enhanced Artifact -->
      <article class="artifact-card" id="eaCard">
        <div class="card-header">
          <img src="/assets/img/EnhancedArtifact.png" alt="Enhanced Artifact" class="card-img-top">
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end mb-2">
            <button class="btn btn-sm btn-outline-blue" id="toggleAllEA">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-git mr-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"/>
              </svg>
              Expand All
            </button>
          </div>
          <h3 class="card-title">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#sumCollapse" aria-expanded="false"
          aria-controls="sumCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Summary</h3>
          <div id="sumCollapse" class="collapse">
            <p class="card-text indent">The final artifact is a full-stack Inventory Management System evolved from a mobile-only Android application into a 
            scalable, enterprise-ready web solution. Each enhancement contributes to creating a robust, secure, and efficient system designed to support businesses managing large-scale inventory operations. Migrating from Android to .NET 8 Blazor Server allows for cross-platform accessibility enabling users to manage inventory from any device. The integration of Microsoft SQL Server enhances data integrity, availability, and multi-user support, ensuring secure and concurrent inventory management. Additionally, optimizing low-stock notifications with an AVL Tree improves system performance, making it efficient even with growing datasets. These enhancements unify to create a scalable, enterprise-ready inventory management system, supporting multi-user access, efficient inventory processing, and secure authentication.</p>
            <p class="card-text"><strong>Features and Functionality:</strong></p>
            <ul class="card-text">
              <li><strong>Role-Based Authentication & Authorization </strong>- Implemented using Identity Framework, ensuring that only authorized userscan manage inventory.</li>
              <li><strong>User Management </strong>- Administrators can add, edit, and remove users, assigning roles to enforce access control.</li>
              <li><strong>Inventory Tracking </strong>- Users can add, edit, and delete inventory items, updating stock levels in real time.</li>
              <li><strong>Low-Stock Notifications </strong>- A self-balancing AVL Tree algorithm optimizes low-stock alerts, ensuring efficient lookup andprocessing of notifications.</li>
              <li><strong>Enterprise-Ready Database </strong>- Migrated from SQLite to Microsoft SQL Server, enabling multi-user access, data integrity,and secure remote access.</li>
              <li><strong>Cross-Platform Accessibility </strong>- With the migration to Blazor Server, the system is no longer restricted to Androiddevices, allowing access from desktops, tablets, and mobile browsers.</li>
            </ul>
            <div class="text-center mt-4">
              <a href="https://github.com/jfrostsnhu/CS-499-Computer-Science-Capstone/tree/master/InventoryManagerApp"
                 target="_blank" rel="noopener"
                 class="btn btn-outline-blue d-inline-flex align-items-center">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon-git mr-2" viewBox="0 0 16 16">
                  <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"/>
                </svg>
                <strong>View Enhanced Artifact on GitHub</strong>
              </a>
            </div>
            <hr>
          </div>
          <h3 class="card-title">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#scCollapse" aria-expanded="false"
          aria-controls="scCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Screenshots (Original vs Enhanced)</h3>
          <div id="scCollapse" class="collapse">
            <br>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/OriginalRegister.png" target="_blank" rel="noopener">
                  <img src="/assets/img/OriginalRegister.png" alt="Original Register" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>Original: Register</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedRegister.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedRegister.png" alt="Enhanced Register" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Register</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/OriginalLogin.png" target="_blank" rel="noopener">
                  <img src="/assets/img/OriginalLogin.png" alt="Original Login" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>Original: Login</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedLogin.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedLogin.png" alt="Enhanced Login" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Login</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/OriginalHome.png" target="_blank" rel="noopener">
                  <img src="/assets/img/OriginalHome.png" alt="Original Home" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>Original: Home</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedHome.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedHome.png" alt="Enhanced Home" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Home</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/OriginalInventory.png" target="_blank" rel="noopener">
                  <img src="/assets/img/OriginalInventory.png" alt="Original Inventory" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>Original: Inventory</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedInventory.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedInventory.png" alt="Enhanced Inventory" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Inventory</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/404-southpark.png" target="_blank" rel="noopener">
                  <img src="/assets/img/404-southpark.jpg" alt="Original Roles" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>No role management in original artifact</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedRoles.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedRoles.png" alt="Enhanced Roles" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Roles</p>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-6 text-center">
                <a href="/assets/img/OriginalUsers.png" target="_blank" rel="noopener">
                  <img src="/assets/img/OriginalUsers.png" alt="Original Users" 
                       class="img-fluid d-block mx-auto" style="max-width: 200px; height: 200px;">
                </a>
                <p>Original: Users</p>
              </div>
              <div class="col-md-6 text-center">
                <a href="/assets/img/EnhancedUsers.png" target="_blank" rel="noopener">
                  <img src="/assets/img/EnhancedUsers.png" alt="Enhanced Users" 
                       class="img-fluid d-block mx-auto" style="max-width: 300px; height: 200px;">
                </a>
                <p>Enhanced: Users</p>
              </div>
            </div>
            <hr>
          </div>
          <h3 class="card-title">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#tryCollapse" aria-expanded="false"
          aria-controls="tryCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Try it out!</h3>
          <div id="tryCollapse" class="collapse">
            <p class="card-text indent">I've stood up the application in Microsoft Azure Web Services for ease of testing the application out. Use the link and details below!</p>
            <div class="table-responsive">
              <table class="table table-sm table-custom">
                <thead>
                  <tr>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>User</td>
                    <td>test@user.com</td>
                    <td>Test!ng25</td>
                  </tr>
                  <tr>
                    <td>Admin</td>
                    <td>test@admin.com</td>
                    <td>Test!ng25</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center mt-4">
              <a href="https://inventorymanager.jamesfrost.dev"
                 target="_blank" rel="noopener"
                 class="btn btn-outline-blue d-inline-flex align-items-center">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon-git mr-2" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                  </svg>
                <strong>Click here to try!</strong>
              </a>
            </div>
          </div>
        </div>
      </article>