<!-- Artifact Card for Professional Self-Assessment -->
<article class="artifact-card" id="psaCard">
    <div class="card-header">
      <img src="/assets/img/PSA.png" alt="Professional Self-Assessment" class="card-img-top">
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-sm btn-outline-blue" id="toggleAllPSA">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-git mr-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"/>
          </svg>
          Expand All
        </button>
      </div>
      <h3 class="card-title mb-3">
        <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#refCollapse" aria-expanded="false"
                aria-controls="refCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> SNHU Computer Science Program Reflection
        </button>
      </h3>
      <div id="refCollapse" class="collapse">
        <p class="card-text indent">Returning to school was a strategic decision to expand my technical expertise and gain 
          the academic credentials necessary for career growth. The SNHU Computer Science program was comprehensive, 
          covering the entire software development lifecycle, from planning and requirements gathering to design, 
          implementation, and testing. Throughout the program, I built projects in various industry-leading programming 
          languages strengthening my ability to develop and maintain diverse software solutions. Courses such as CS-255 
          System Analysis & Design and CS-250 Software Development Lifecycle taught me how to document software solutions 
          effectively, using tools such as sequence charts, flowcharts, class diagrams, and requirements documentation. 
          Additionally, courses like CS-210 Programming Languages, CS-465 Full Stack Development I, and CS-360 Mobile Programming 
          broadened my proficiency in multiple programming paradigms including web development, mobile application development, 
          and backend systems. These experiences have helped me showcase my strengths in programming and software security, refine 
          my professional goals and values, and become more competitive in the job market. All of these factors have directly 
          contributed to my upward mobility into a directorate role within my organization.</p>
        <p class="card-text"><strong>Key Takeaways:</strong></p>
        <p class="card-text indent">
          One of the most valuable aspects of this program was the opportunity to collaborate in a team environment by engaging in 
          group projects and discussions. These provided hands-on experience in working with cross-functional teams which is an essential skill 
          for software developers. Furthermore, my coursework strengthened my ability to communicate effectively with both technical and 
          non-technical stakeholders. Through developing technical documentation, software requirements, and user interfaces, I learned 
          how to present complex information in an easily digestible manner.
        </p>
        <p class="card-text indent">
          From a technical perspective, CS-300 Data Structures & Algorithms: Analysis and Design significantly enhanced my understanding of 
          algorithm efficiency. I learned when to use Binary Search Trees over Linear Search algorithms and applied these concepts in several 
          subsequent courses. DAD-220 Intro to Structured Database Environments deepened my knowledge of relational database structures 
          including entity relationship types and cascading features. Additionally, security was a major focus throughout the program. Courses 
          like CS-405 Secure Coding, CS-410 Software Reverse Engineering, and CS-305 Software Security provided insights into industry best 
          practices for secure software development. I gained hands-on experience in preventing vulnerabilities such as SQL injection, command-line 
          injection, and stack smashing to ensure that my applications are built with security-first principles.
        </p>
        <p class="card-text indent">
          This program has been an invaluable experience that not only sharpened my technical skills but also refined my ability to lead and collaborate 
          within an organization. Throughout the duration of this program I have successfully demonstrated the following <strong>outcomes:</strong>
        </p>
        <ol class="card-text">
          <li>Employ strategies for building collaborative environments that enable diverse audiences to support organizational decision-making in the field 
            of computer science.</li>
          <li>Design, develop, and deliver professional-quality oral, written, and visual communications that are coherent, technically sound, and appropriately 
            adapted to specific audiences and contexts.</li>
          <li>Design and evaluate computing solutions that solve a given problem using algorithmic principles and computer science practices and standards 
            appropriate to its solution while managing the trade-offs involved in design choices.</li>
          <li>Demonstrate an ability to use well-founded and innovative techniques, skills, and tools in computing practices for the purpose of implementing 
            computer solutions that deliver value and accomplish industry-specific goals.</li>
          <li>Develop a security mindset that anticipates adversarial exploits in software architecture and designs to expose potential vulnerabilities, 
            mitigate design flaws, and ensure privacy and enhanced security of data and resources.</li>
        </ol>
        <hr>
      </div>
      <h3 class="card-title mb-3">
        <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#skillsCollapse" aria-expanded="false"
                aria-controls="skillsCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Skills</h3>
      <div id="skillsCollapse" class="collapse">
        <p class="card-text indent">
          Throughout the Computer Science Program, I've refined or learned the following skills 
          which will prove useful in my tenure:
        </p>
        <div class="table-responsive">
          <table class="table table-sm table-custom">
            <thead>
              <tr>
                <th>Hard Skills</th>
                <th>Soft Skills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Programming Languages (Java, Python, C++)</td>
                <td>Problem Solving</td>
              </tr>
              <tr>
                <td>Data Structures &amp; Algorithms</td>
                <td>Critical Thinking</td>
              </tr>
              <tr>
                <td>Object Oriented Programming</td>
                <td>Communication with non-technical / technical stakeholders</td>
              </tr>
              <tr>
                <td>Software Development Lifecycle</td>
                <td>Team Collaboration &amp; Agile Development</td>
              </tr>
              <tr>
                <td>Database Management (SQLite, MongoDB)</td>
                <td>Document Creation</td>
              </tr>
              <tr>
                <td>Software Testing &amp; Quality Assurance</td>
                <td>Business Case Evaluation</td>
              </tr>
              <tr>
                <td>Secure Coding Practices</td>
                <td>Attention To Detail</td>
              </tr>
              <tr>
                <td>API Development</td>
                <td>Time Management</td>
              </tr>
              <tr>
                <td>Version Control</td>
                <td>Conflict Resolution</td>
              </tr>
            </tbody>
          </table>
        </div>
      <hr>
      </div>
      <h3 class="card-title mb-3">
        <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#planCollapse" aria-expanded="false"
                aria-controls="planCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> About the CS-499 Project and refinement plan</h3>
      <div id="planCollapse" class="collapse">
        <p class="card-text indent">The CS-499 Capstone Project serves as the culmination of my academic journey showcasing my ability to design, develop, 
          and refine a fully functional software solution aligned with industry best practices. The original artifact selected for enhancement is the 
          Inventory Management Android application which I developed during CS-360 Mobile Architecture and Programming between April and June 2024. The 
          original purpose of this mobile application was to allow warehouse associates to manage inventory, providing low-stock alerts, role-based 
          authentication, and CRUD operations for inventory tracking. While the project met its initial objectives, it was designed as a standalone 
          Android application, limiting its scalability, accessibility, and long-term viability in an enterprise setting.</p>
        
        <p class="card-text indent">To ensure a fully modernized solution, I used this artifact for all three enhancements, Software Design & Engineering, Algorithms & Data 
          Structures, and Databases, each addressing key areas of improvement. The first enhancement involved converting the application from an Android 
          mobile app to a full-stack web-based solution using .NET 8 Blazor Server, making it accessible across multiple devices while improving security 
          and maintainability. The second enhancement optimized low-stock notifications by replacing the inefficient linear search algorithm with an AVL Tree 
          to ensure faster and more scalable inventory alerting. Finally, the third enhancement migrated the database from SQLite to Microsoft SQL Server to 
          improve data integrity, security, and multi-user support. Together, these enhancements transform the project into an enterprise-ready inventory 
          management system, improving scalability, security, and accessibility.</p>
        
        <p class="card-text indent">Prior to implementing enhancements, I conducted a comprehensive code review of the original artifact, identifying areas for improvement in 
          functionality, security, efficiency, and maintainability. This analysis provided the foundation for defining how to address the enhancements while 
          ensuring they aligned with industry standards and best practices.</p>
        
        <p class="card-text indent">The following sections will detail each enhancement, outlining the rationale, technical implementation, and business impact, walking you through 
          my development process.</p>
      </div>
    </div>
</article>
<!-- Button to Top -->
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-sm btn-blue" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon-git-light mr-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
      </svg>
      Back to Top
    </button>
</div>