      <!-- Artifact Card for Enhancement SDE -->
      <article class="artifact-card" id="sdeCard">
        <div class="card-header">
          <img src="/assets/img/SDE.png" alt="Enhancement 1: Software Design & Engineering" class="card-img-top">
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end mb-2">
            <button class="btn btn-sm btn-outline-blue" id="toggleAllSDE">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-git mr-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8"/>
              </svg>
              Expand All
            </button>
          </div>
          <h3 class="card-title mb-3">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#ar1Collapse" aria-expanded="false"
          aria-controls="ar1Collapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Artifact</h3>
          <div id="ar1Collapse" class="collapse">
            <p class="card-text indent">
              The artifact selected for enhancement is the CS-360 Mobile Programming: Inventory Manager Application, originally developed between April and June 
              2024 as part of the Mobile Programming course. This Java-based Android application was designed to help warehouse associates track inventory, 
              providing a simple and effective way to manage stock levels, receive low-stock alerts, and enforce role-based authorization. I chose this artifact 
              for my ePortfolio because it demonstrates my ability to design, develop, and enhance software solutions. While the original project successfully met 
              its objectives, I wanted to evolve it into a full-stack web application, improving its scalability, security, and accessibility.</p>
            <hr>
          </div>
          <h3 class="card-title mb-3">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#enh1Collapse" aria-expanded="false"
          aria-controls="enh1Collapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Enhancement 1</h3>
          <div id="enh1Collapse" class="collapse">      
            <p class="card-text indent">
              This enhancement involved converting the Android-based Inventory Manager into a full-stack .NET 8 Blazor Server application transforming it from a 
              platform-dependent mobile app to a scalable, web-accessible solution. The front-end was migrated from Android XML layouts to Blazor components, allowing
              users to access the system from any device with a web browser. Additionally, Identity Framework was integrated to introduce secure role-based 
              authentication and authorization ensuring that user permissions are managed more effectively.
              This enhancement greatly improved the usability, scalability, and security of the application. By migrating to Blazor Server, the system is now 
              platform independent, allowing employees to manage inventory from any device with internet access. Security was also a major focus, with Identity 
              Framework ensuring encrypted authentication, input validation preventing invalid or malicious data entry, and structured error handling improving system 
              stability.</p>
            <hr>
          </div>
          <h3 class="card-title mb-3">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#bp1Collapse" aria-expanded="false"
          aria-controls="bp1Collapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Business Purpose</h3>
          <div id="bp1Collapse" class="collapse">          
            <p class="card-text indent">
              From a business perspective, this enhancement transforms the Inventory Manager from a basic mobile tool into a scalable enterprise solution.  Businesses 
              can now leverage real-time inventory updates, secure authentication, and cloud-ready infrastructure while ensuring that inventory operations  run more 
              efficiently and securely. Employees can update stock levels from any location, reducing errors and improving workflow efficiency. The improved  security
              model ensures that only authorized users can manage inventory, reducing the risk of unauthorized modifications.
            </p>
            <hr>
          </div>
          <h3 class="card-title mb-3">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#cr1Collapse" aria-expanded="false"
          aria-controls="cr1Collapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Challenges and Relection</h3>
          <div id="cr1Collapse" class="collapse">           
            <p class="card-text indent">The process of enhancing this artifact was a significant learning experience. Transitioning from .NET Core 3 to .NET 8   required adapting 
              to the removal of namespaces and top-level statements reinforcing my ability to learn and adapt to new technologies. As a first time Blazor   developer, I faced 
              challenges in structuring components, customizing UI elements, and overriding Bootstrap styles. Overcoming these challenges strengthened my   problem-solving 
              skills, technical expertise, and ability to integrate complex solutions into a functional and scalable application.</p>
            <p class="card-text indent">Through this enhancement, I successfully demonstrated Course Outcomes 2 through 5. I applied professional communication skills by documenting   the development 
              process and explaining technical concepts for diverse audiences, addressing Outcome 2. My ability to use modern tools and frameworks, such as Blazor Server, Entity Framework, and Identity Framework, demonstrated Outcome 4. Additionally, I achieved Outcome 5 through a security-focused design,   incorporating 
              authentication best practices, input validation, and structured error handling. Through the incorporation of feedback and publishing my work in a clear, publicly accessible, collaborative environment, I have also achieved Outcome 1.</p>
            <hr>
          </div>
          <h3 class="card-title mb-3">
          <button class="btn-collapsible collapsed" type="button" data-toggle="collapse" data-target="#flcCollapse" aria-expanded="false"
          aria-controls="flcCollapse"><i class="fas fa-chevron-right rotate-icon mr-2 ipadr"></i> Flowchart</h3>
          <div id="flcCollapse" class="collapse">
            <a href="/assets/img/ApplicationFlowchart.png" target="_blank" rel="noopener">    
              <div class="flowchart" style="text-align: center; margin-top: 1rem;">
                <img src="/assets/img/ApplicationFlowchart.png" alt="Flowchart of Redesigned Architecture" class="img-fluid" style="max-width: 100%; height: auto;">
              </div>
            </a>
          </div>
      </article>
      <!-- Button to Top -->
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-blue" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="icon-git-light mr-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
          </svg>
          Back to Top
        </button>
      </div>